<!DOCTYPE html>
<html>
  <head>
    <title>SHS Portfolio - junior web developer</title>
    <link href="https://fonts.googleapis.com/css?family=Amiko" rel="stylesheet">
    <link rel="stylesheet" href="assets/stylesheets/application.css">
  </head>
  <body>
    <header id='main_navigation' class='clearfix'>
    <a href="#" class='name'>SHS PORTFOLIO</a>
      <nav>
        <a href="#">Main</a>
        <a href="#">Projects</a>
        <a href="#">Contact</a>
      </nav>
    </header>
    <h1>My Skills</h1>
      <h4>Ruby on Rails, Rspec and Capybara, Continuous Integration, JavaScript, ES6, jQuery, React.js, Redux, Node.js, HTML5 & CSS3, Sass, PostgreSQL, MongoDB, MySQL, Git, Github, TDD and BDD, RESTful API's, WebSockets, Object Oriented Design & MVC
      </h4>
        <br>
    <h1>My Portfolio</h1>
    <center>

    <a href="https://github.com/EsterKais/RWP-ECHTvakantie" id="f-diw" class="footer-box">
      <h5>EchtVakantie</h5>
      <p>
          Ruby on Rails, CSS,  implemented CMS, Google maps API
      </p>
      </a>

    <a href="https://github.com/Codaisseur/code-practice" id="f-htmlipsum" class="footer-box">
      <h5>Code Practice</h5>
      <p>
          React, Redux, Chai, Chai-enzyme, Chai-spies, Material UI
      </p>
    </a>
    </center>
  </body>
</html>
